<div class="container">
  <h1>{{titulo}}</h1>

  <app-formulario (resultSuma)="procesarResultado1($event)"
                  (resultResta)="procesarResultado2($event)"
                  (resultMultiplicacion)="procesarResultado3($event)"
                  (resultDividir)="procesarResultado4($event)">
  </app-formulario>
  <app-resultado  [resultadoSuma]="resultPadreSuma"
                  [resultadoResta]="resultPadreResta"
                  [resultadoMultiplica]="resultPadreMultiplica"
                  [resultadoDivide]="resultPadreDivide"

 ></app-resultado>

</div>

